/*
 * I'm so sorry about this CSS code below.
 * I'm running this app on a fucking cheap device with an awful screen resolution.
*/

body {
  font-size: 25px;
}

label {
  font-weight: 500;
}

select, option {
  font-size: 25px !important;
}

button {
  padding: 25px !important;
}
